[Desktop Entry]
Name=TUXEDO Control Center
Comment=Tray icon for TUXEDO Control Center
Exec=/opt/lwl-control-center/lwl-control-center --tray
Terminal=false
Type=Application
Icon=lwl-control-center
Categories=System;TrayIcon
