[Unit]
Description=TUXEDO Control Center Service

[Service]
Type=simple
ExecStart=/opt/lwl-control-center/resources/dist/lwl-control-center/data/service/tccd --start
ExecStop=/opt/lwl-control-center/resources/dist/lwl-control-center/data/service/tccd --stop

[Install]
WantedBy=multi-user.target
