[Desktop Entry]
Name=TUXEDO Control Center
Comment=An application helping you to tune your TUXEDO
Exec="/opt/lwl-control-center/lwl-control-center" %U
Terminal=false
Type=Application
Icon=/opt/lwl-control-center/resources/dist/lwl-control-center/data/dist-data/lwl-control-center_256.svg
StartupWMClass=lwl-control-center
Categories=System;
